body{
    color: brown;
    background-color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 0%;
}
h1{
    font-size: 0%;
    text-emphasis-style: 0px;
}